{% extends 'blog/base.html' %}
{% block content %}
        {% if cohorts %}
            <div class="content container">
                {% for cohort in cohorts %}
                    <time class="date">
                        {{ cohort.date_created }}
                    </time>
                    <h2><a href="{% url 'cohort_detail' pk=cohort.pk %}">{{cohort.name}}</a></h2>
                    <h4><a href="{% url 'native_list' %}">Natives: {{ cohort.native_set.count }} </a></h4>
                {% endfor %}
            </div>
        {% else %}
        <h1><a href="/"> Create A Cohort</a></h1>
        {% endif %}
{% endblock %}