{% extends 'blog/base.html' %}
{% block content %}
<div class="form-row">
        {% for native in natives %}
        <div class="col-md-4">
            <div class="card" >
                <a href="{% url 'native_detail' pk=native.pk %}"><img class= "card-img-top" src="{{ native.image.url }}" width="60cm"/></a>
                <h3 class="card-title">{{ native }}</h3>
                <p class="card-text" >{{ native.cohort|linebreaksbr}}</p>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}