{% extends 'blog/base.html' %}

{% block content %}
    <div class="card">
       <img class= "card-img-top" src="{{ native.image.url }}" width="1900cm" height="500cm" />
        <div class="label-left">
            <ul>
                <li><h5 class="card-title">{{ native.first_name }}</h5></li>
                <hr>
                <li><h5 class="card-title">{{ native.last_name }}</h5></li>
                <hr>
                <li><h5 class="card-text" >{{ native.cohort}}</h5></li>
                <hr>
                <li><h5>SCV{{native.pk}}</h5></li><hr>
                <li><time class="card-text" >{{ native.date_added}}</time></li>
            </ul>

        </div>
        </div>
        <hr>
        <div class="text">
            <h1><strong>Thoughts</strong></h1>
            <h5>{{ native.thought }}</h5><br>
        </div>
{% endblock %}